:root {
  --font-body: var(--font-mono);
  --font-heading: var(--font-mono);
  --color-body: var(--base07);
  --color-body-negative: var(--base00);
  --color-accent: var(--base01);
  --color-accent-negative: var(--base07);
  --color-links: var(--base0e);
  --color-links-negative: var(--base0d);
  --color-hr: var(--base04);
  --stroke-color-blockquote: var(--base0c)
}
