/* Base16 Colorscheme */

.base00 { color: var(--color-base00); }
.base01 { color: var(--color-base01); }
.base02 { color: var(--color-base02); }
.base03 { color: var(--color-base03); }
.base04 { color: var(--color-base04); }
.base05 { color: var(--color-base05); }
.base06 { color: var(--color-base06); }
.base07 { color: var(--color-base07); }
.base08 { color: var(--color-base08); }
.base09 { color: var(--color-base09); }
.base0a { color: var(--color-base0a); }
.base0b { color: var(--color-base0b); }
.base0c { color: var(--color-base0c); }
.base0d { color: var(--color-base0d); }
.base0e { color: var(--color-base0e); }
.base0f { color: var(--color-base0f); }
