@use "sass:math";

$config: (
  layout: (
    length: (
      min: 1,
      max: 16,
      line: 2,
    ),
    container: (
      logical: (
        page: "md",
      ),
    ),
  ),
  typography: (
    font-family: (
      literal: (
        serif: ("Quieta", "Source Serif Pro"),
        sans: ("Autor", "Source Sans Pro"),
        mono: ("Source Code Pro"),
      ),
      logical: (
        body: "serif",
        heading: "sans",
      ),
    ),
    font-weight: (),
    scale: (
      base: 1.5em,
      factor: math.pow(2, 0.25),
    ),
  ),
  ui: (
    stroke: (
      color: (
        literal: (
          blockquote: "var(--color-base0c)",
        ),
      ),
    ),
  ),
  color: (
    literal: (
      base00: #2d2d2d,
      base01: #393939,
      base02: #515151,
      base03: #747369,
      base04: #a09f93,
      base05: #d3d0c8,
      base06: #e8e6df,
      base07: #f2f0ec,
      base08: #f2777a,
      base09: #f99157,
      base0a: #ffcc66,
      base0b: #99cc99,
      base0c: #66cccc,
      base0d: #6699cc,
      base0e: #cc99cc,
      base0f: #d27b53,
      shadow: #00000080,
    ),
    logical: (
      body: "base00",
      body-negative: "base07",
      neutral: "base03",
      accent: "base01",
      accent-negative: "base06",
      heading: "body", // default heading color applied to `hgroup p`
      heading-negative: "base0a", // highlighted top-level headlines
      heading-1: "base0d",
      heading-2: "base0b",
      heading-3: "base09",
      heading-4: "base08",
      heading-5: "base02",
      heading-6: "base03",
      links: "base0f",
      links-negative: "base0e",
      links-accent-negative: "base0d",
      hr: "base04",
    ),
  ),
);
