@use "sass:math";

$config: (
  layout: (
    length: (
      mapped: (
        params: (
          sub: 2,
        ),
      ),
    ),
    container: (
      logical: (
        page: "sm",
      ),
    ),
    spacing: (
      flow: (
        logical: (
          sectioning: "/spacing-block-md",
        ),
      ),
    ),
  ),
  typography: (
    font-family: (
      literal: (
        serif: (
          "Garibaldi",
          "Quieta",
          "Source Serif Pro",
        ),
        sans: (
          "Autor",
          "Source Sans Pro",
        ),
        mono: (
          "Source Code Pro",
        ),
      ),
      logical: (
        body: "serif",
        heading: "sans",
      ),
    ),
    font-weight: (),
    scale: (
      base: 1em,
      ratio: math.pow(2, 0.25),
    ),
    line: (
      min: 1,
      sub: 2,
    ),
  ),
  ui: (
    stroke-color: (
      logical: (
        blockquote: "/color-theme0c",
      ),
    ),
  ),
  coloring: (
    color: (
      literal: (
        theme08: var(--color-base08),
        theme09: var(--color-base09),
        theme0a: var(--color-base0a),
        theme0b: var(--color-base0b),
        theme0c: var(--color-base0c),
        theme0d: var(--color-base0d),
        theme0e: var(--color-base0e),
        theme0f: var(--color-base0f),
      ),
      logical: (
        env: "alternate",
        env-contra: "alternate-contra",
        body: "theme05",
        body-contra: "theme00",
        neutral: "theme04",
        alternate: "theme06",
        alternate-contra: "theme01",
        heading: "theme0a",
        heading-1: "theme0b",
        heading-2: "theme0c",
        heading-3: "theme0d",
        heading-4: "theme0e",
        heading-5: "theme0f",
        heading-6: "neutral",
        heading-alternate: "alternate",
        links: "theme0e",
        links-alternate: "theme0d",
        hr: "neutral",
      ),
    ),
  ),
);
