$config: (
  layout: (
    length: (
      min: 1,
      max: 16,
      line: 2,
    ),
    container: (
      individuals: (
        page: "var(--container-lg)",
      ),
    ),
  ),
  typography: (
    font-families: (
      body: "var(--font-mono)",
      heading: "var(--font-mono)",
    ),
    font-weights: (),
    scale: (
      max: 9,
    ),
  ),
  ui: (
    color: (
      individuals: (
        base00: #2d2d2d,
        base01: #393939,
        base02: #515151,
        base03: #747369,
        base04: #a09f93,
        base05: #d3d0c8,
        base06: #e8e6df,
        base07: #f2f0ec,
        base08: #f2777a,
        base09: #f99157,
        base0a: #ffcc66,
        base0b: #99cc99,
        base0c: #66cccc,
        base0d: #6699cc,
        base0e: #cc99cc,
        base0f: #d27b53,
        body: "var(--color-base07)",
        body-negative: "var(--color-base00)",
        accent: "var(--color-base01)",
        accent-negative: "var(--color-base07)",
        links: "var(--color-base0e)",
        links-negative: "var(--color-base0d)",
        hr: "var(--color-base04)",
      ),
    ),
    stroke: (
      colors: (
        blockquote: "var(--color-base0c)",
      ),
    ),
  ),
);
