@use "sass:map";
@use "stylament/css/axioms/properties/basic/layout/container";

$page: map.get(container.$sizes, page);
$space-lg: var(--length-l8);
$space-md: var(--length-l4);
$space-sm: var(--length-l2);
$space-xs: var(--length-l1);

@mixin narrow {
  @media (max-width: $page) {
    @content;
  }
}

@mixin article-box {
  background-color: var(--color-base07);
  color: var(--color-base00);
  padding-block: var(--spacing-sectioning);
  padding-inline: var(--container-gutter);
  margin-inline: calc(-1 * var(--container-gutter));
}
