@use "stylament/css/objects/coloring/inverted";
@mixin article-box {
  @extend .clr-inverted;
  padding-block: var(--spacing-sectioning);
  padding-inline: var(--container-gutter);
  margin-inline: calc(-1 * var(--container-gutter));
}
