@use "stylament/css/axioms/tools/mixins/coloring";

@mixin box {
  @include coloring.revert;
  padding-block: var(--spacing-sectioning);
  padding-inline: var(--container-gutter);
  margin-inline: calc(-1 * var(--container-gutter));
}
