blockquote {
  background: var(--color-accent-negative);
  padding: var(--length-l1);
  border-inline-start: var(--stroke-width-8) var(--stroke-style-default)
    var(--stroke-color-blockquote);
  margin-inline-start: calc(-1 * var(--stroke-width-8));

  &::before {
    display: none;
  }
}
