@use "stylament/css/axioms/generic/coloring";
@use "stylament/css/axioms/properties/io" as *;

blockquote {
  @include coloring.alternate;

  padding: svar(length-1);
  border-inline-start: svar(stroke-width-8) svar(stroke-style-default)
    svar(stroke-color-blockquote);
  margin-inline-start: calc(-1 * svar(stroke-width-8));

  &::before {
    display: none;
  }
}
