@use "../axioms/mixins" as *;
@use "../../../lib/stylament/css/objects/coloring/accented";
@use "../../../lib/stylament/css/objects/coloring/inverted";

/// General Page Layout
body {
  padding-block: clamp(0rem, (100vi - var(--container-page)) / 4, var(--spacing-block));
  // Invert colors. `@mixin article-box` will revert them again.
  @extend .clr-inverted;

  > main {
    > hgroup:only-child {
      text-align: center;
      font-size: 200%;
      * {
        margin: 0;
      }
    }
  }

  > header,
  > footer {
    @extend .clr-accented;
    font-family: var(--font-mono);
    --spacing-sectioning: var(--spacing-block);
  }

  > footer {
    text-align: center;
  }
}
