@use "../axioms/mixins" as *;

/// General Page Layout
body {
  padding-block: var(--spacing-block);

  > header,
  > footer {
    --spacing-sectioning: var(--spacing-block);

    @include slim-pad;
  }

  > footer {
    text-align: center;
    color: var(--color-base03);
    > * {
      color: inherit;
    }
  }
}
