@use "stylament/css/axioms/tools/mixins/coloring";

/// General Page Layout
body {
  padding-block: clamp(
    0rem,
    (100vi - var(--container-page)) / 4,
    var(--spacing-block)
  );
  // Invert colors. `@mixin article-box` will revert them again.
  @include coloring.invert;

  > main {
    > hgroup:only-child {
      text-align: center;
      font-size: 200%;
      * {
        margin: 0;
      }
    }
  }

  > header,
  > footer {
    @include coloring.accent;
    font-family: var(--font-mono);
    --spacing-sectioning: var(--spacing-block);
  }

  > header {
    > section {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1ch;

      > :first-child {
        max-inline-size: none;
        flex-grow: 1e5;
      }
    }
    a:any-link {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    menu {
      li {
        display: inline;
        + li::before {
          content: "| ";
        }
        a {
          display: inline;
          padding-inline: 0;
        }
      }
    }
  }

  > footer {
    text-align: center;
  }
}
