@use "stylament/css/axioms/tools/mixins/coloring";

figure {
  @include coloring.inverse-base;
  @include coloring.alternate;

  margin-inline: calc(-1 * var(--container-gutter));
  margin-block-start: var(--spacing-block);
  padding: var(--spacing-block);

  &.no-outdent {
    margin-inline: 0;
  }
  
  img {
    inline-size: 100%;
    border-radius: var(--radius-xs);
  }
  
  figcaption {
    margin-inline: auto;
    text-align: center;
    font-style: italic;
  }

  blockquote {
    margin-inline: auto;
  }

  a {
    color: inherit;
    text-decoration: underline;
    background-color: var(--color-links);
  }
}
