@use "stylament/css/axioms/tools/mixins/coloring";

figure {
  @include coloring.inverse-base;
  @include coloring.alternate;

  margin-inline: calc(-1 * var(--container-gutter));
  margin-block-start: var(--spacing-block);
  padding: var(--spacing-block);
  
  img {
    inline-size: 100%;
    border-radius: var(--radius-xs);
  }
  
  figcaption {
    text-align: center;
    font-style: italic;
  }
}
