/// Heading spacing
:is(h1, h2, h3, h4, h5, h6) {
  line-height: 1.25;
  margin-block-end: 0.5em;

  * + & {
    margin-block-start: 1em;
  }

  main > :is(article, section) > & {
    color: var(--color-heading-0);
  }
}
