@use "stylament/css/axioms/generic/coloring";
@use "stylament/css/axioms/properties/io" as *;

pre {
  @include coloring.use-colors;
  max-inline-size: none;
  overflow-x: auto;
  padding: svar(spacing-block);
  border-radius: svar(radius-xs);

  code {
    background-color: transparent;
    padding: 0;
  }
}
