@use "stylament/css/axioms/tools/mixins/coloring";

pre {
  @include coloring.use-colors;
  max-inline-size: none;
  overflow-x: scroll;
  padding: var(--spacing-block);
  border-radius: var(--radius-xs);

  code {
    background-color: transparent;
  }
}
