@use "stylament/css/axioms/properties/io" as *;

/// Article meta data
dl.var-meta {
  font-size: svar(font-size-smaller);
  line-height: svar(line--1);

  dt,
  dd {
    display: inline;
    margin-inline: 0;
  }

  dt {
    color: svar(color-neutral);

    &::before {
      content: "";
      display: block;
    }

    &::after {
      content: ": ";
    }
  }

  dd + dd {
    &::before {
      content: ", ";
    }
  }
}
