@use "stylament/css/axioms/properties/io" as *;

/// Taxonomy Clouds
ul.var-taxonomy-cloud {
  padding-inline: 0;
  list-style: none;

  li::after {
    content: "(" attr(data-count) ")";
    font-size: svar(font-size-smaller);
  }

  &.\+categories {
    a {
      text-transform: capitalize;
      font-weight: svar(font-weight-bold);
    }
  }

  &.\+tags {
    display: flex;
    flex-wrap: wrap;
    gap: var(---wrap-space);

    li {
      font-size: calc(svar(font-size-smaller) + 3% * svar(count));
    }
  }
}
