@use "../../axioms/mixins" as *;

/// Post List Layout
.s-article-list {
  h1.list-title {
    color: var(--color-base0a);
  }

  article {
    margin-block: var(--spacing-sectioning);

    @include article-box;    

    h2.headline,
    h2.headline a {
      margin-block-start: 0;
      color: var(--color-base0d);
    }

    .meta {
      margin-block-end: $space-xs;

      .key {
        color: var(--color-base03);
      }

      .val,
      .val a {
        color: var(--color-base0e);
      }
    }

    section.summary a {
      color: var(--color-base0f);
    }
  }
}
