@use "../../axioms/mixins" as *;

/// Post List Layout
.s-article-list {
  article {
    margin-block: var(--spacing-sectioning);

    @include article-box;    

    .meta {
      .key {
        color: var(--color-base03);
      }

      .val,
      .val a {
        color: var(--color-links-negative);
      }
    }

    section.summary a {
      color: var(--color-base0f);
    }
  }
}
