/// Homepage Layout
.scp-homepage {
  .site-title {
    display: flex;
    font-size: var(--scale-4);
    line-height: 3em;
    filter: drop-shadow(var(--shadow-xs));

    * {
      font-size: inherit;
      line-height: inherit;
      margin: 0;
    }

    p.logo {
      z-index: 0;
      inline-size: 2em;
      margin-inline: 2.381em -4.381em;
      background-color: var(---clr-fg);
      mask: url("/img/logo.svg") no-repeat 0 / contain;
      -webkit-mask: url("/img/logo.svg") no-repeat 0 / contain;

      img {
        display: none;
      }
    }

    h1 {
      z-index: 1;
      font-family: var(--font-mono);
      text-shadow: var(--shadow-xxs);
      &::before {
        content: "[";
      }
      &::after {
        content: "]";
      }
    }
  }
}
