/// Homepage Layout
.s-homepage {
  h1.site-title {
    font-family: var(--font-mono);
    font-size: var(--scale-4);
    background: url("/img/logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 2.4em;
    line-height: 3em;
    filter: drop-shadow(0 0.025em 0.025em var(--color-shadow));
    white-space: nowrap;
  }
}
