$break: 52rem;

/* General Page Layout */
body {
  padding-block: var(--spacing-block);

  > header,
  > footer {
    --spacing-sectioning: var(--spacing-block);
    @media (max-width: $break) {
      padding-inline: 2rem;
      margin-block: 0;
    }
  }
}

body > footer {
  text-align: center;
  color: var(--base03);
  > * {
    color: inherit;
  }
}

/* Typography */

:is(h1, h2, h3, h4, h5, h6) {
  line-height: 1.25;
  margin-block-end: 0.5em;

  * + & {
    margin-block-start: 1em;
  }
}

/* 404 Page Layout */

.page-not-found {
  h1 {
    text-align: center;
    font-size: 5em;
    @media (max-width: $break) {
      font-size: 3em;
    }
  }

  h2 {
    text-align: center;
    font-size: 3em;
    color: var(--base04);
    margin-block-end: 4rem;

    @media (max-width: $break) {
      font-size: 2em;
    }
  }
}

/* Homepage Layout */

.homepage {
  @media (max-width: $break) {
    margin-block-end: 2rem;
  }

  h1.site-title {
    text-align: center;
    font-size: 5em;
    color: var(--base0c);

    @media (max-width: $break) {
      font-size: 3em;
    }
  }

  h1.headline {
    font-size: 3em;
    color: var(--base0a);

    @media (max-width: $break) {
      padding-inline: 2rem;
    }
  }

  .hero-logo img {
    inline-size: 100%;
  }

  section.categories,
  section.tags {
    padding-inline: 2rem;
  }

  .category,
  .category a,
  .tag,
  .tag a {
    color: var(--base0e);
  }

  .tag {
    margin-inline-end: 2em;
  }
}

/* Post List Layout */

.article-list {
  h1.list-title {
    font-size: 3em;
    color: var(--base0a);
  }

  article {
    background-color: var(--base07);
    color: var(--base00);
    padding-inline: 8rem;
    padding-block: 4rem;
    margin-block-end: 4rem;

    @media (max-width: $break) {
      padding-inline: 2rem;
    }

    h2.headline,
    h2.headline a {
      margin-block-start: 0;
      color: var(--base0d);
    }

    .meta {
      margin-block-end: 1rem;

      .key {
        color: var(--base03);
      }

      .val,
      .val a {
        color: var(--base0e);
      }
    }

    section.summary a {
      color: var(--base0f);
    }
  }
}

/* Pagination */

nav.paginator {
  text-align: center;

  a {
    color: var(--base0e);
  }

  .faded {
    color: var(--base02);
  }

  .nav-prev {
    margin-inline: auto 1%;
  }

  .nav-next {
    margin-inline: 1% auto;
  }
}

/* Single Post Layout */

article.single {
  .meta {
    font-size: 0.9em;
    text-align: right;

    .key {
      color: var(--base03);
    }

    .val,
    .val a {
      color: var(--base0e);
    }

    @media (max-width: $break) {
      padding-inline: 2rem;
    }
  }

  h1.headline {
    margin-block-start: 0;
    font-size: 3em;
    color: var(--base0a);

    @media (max-width: $break) {
      padding-inline: 2rem;
    }
  }

  section.body {
    background-color: var(--base07);
    color: var(--base00);
    padding-inline: 8rem;
    padding-block: 4rem;

    @media (max-width: $break) {
      padding-inline: 2rem;
      padding-block: 2rem;
    }
  }

  /* Highlight Colors */
  section.body {
    h1 {
      color: var(--base0d);
    }
    h2 {
      color: var(--base0b);
    }
    h3 {
      color: var(--base09);
    }
    h4 {
      color: var(--base08);
    }
    h5 {
      color: var(--base02);
    }
    h6 {
      color: var(--base03);
    }

    a {
      color: var(--base0f);
    }
  }

  /* Article Elements */

  * {
    max-inline-size: 100%;
  }

  pre {
    margin-block: 0 1rem;
    overflow-x: scroll;
    border-radius: 3px;
    padding: 2rem;
  }

  p code {
    padding: 0.2em 0.5em;
    border-radius: 3px;
    background: var(--base03);
    color: var(--base07);
  }

  figure,
  div.highlight {
    box-sizing: border-box;
    max-inline-size: $break;
    inline-size: $break;
    margin-inline: -8rem;
    margin-block-end: 1rem;
    padding: 1em;
    background-color: var(--base01);
    
    @media (max-width: $break) {
      inline-size: 100%;
      margin-inline: 0;
      border-radius: 3px;
    }
  }

  figure img {
    max-inline-size: 100%;
    inline-size: 100%;
    border-radius: 3px;
  }

  figure figcaption {
    margin-block-start: 1rem;
  }

  figure figcaption h4 {
    margin-block-start: 0;
    text-align: center;
    font-style: italic;
    font-weight: normal;
    color: var(--base07);
  }

  table {
    border-collapse: separate;
    border-spacing: 0;
    max-inline-size: 100%;
    inline-size: 100%;
  }

  th,
  td {
    padding: 0.25rem 1rem;
    line-height: inherit;
    border-block-end: 1px solid var(--base04);
  }

  tr:last-child td {
    border-block-end: 0;
  }

  th {
    text-align: left;
    font-weight: bold;
    vertical-align: bottom;
  }

  td {
    vertical-align: top;
  }
}
