@use "axioms/mixins" as *;

/* General Page Layout */
body {
  padding-block: var(--spacing-block);

  > header,
  > footer {
    --spacing-sectioning: var(--spacing-block);

    @include slim-pad;
  }

  > footer {
    text-align: center;
    color: var(--color-base03);
    > * {
      color: inherit;
    }
  }
}

/* Typography */

:is(h1, h2, h3, h4, h5, h6) {
  line-height: 1.25;
  margin-block-end: 0.5em;

  * + & {
    margin-block-start: 1em;
  }
}
