@media (max-width: 52em) {
  section#section-comments {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
ol.sz-list {
  counter-reset: sz-item;
}
ol.sz-list > li {
  counter-increment: sz-item;
}
ol.sz-list > li::marker {
  content: counters(sz-item, ".") ". ";
  color: var(--base04);
  font-size: smaller;
  font-weight: bold;
}
