@media (max-width: 52em) {
  section#section-comments {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
comments-root ol {
  counter-reset: comments-item;
}
comments-root li {
  counter-increment: comments-item;
}
comments-root li::marker {
  content: counters(comments-item, ".") ". ";
  color: var(--base04);
  font-size: smaller;
  font-weight: bold;
}
