ol.sz-list {
  counter-reset: sz-item;
}
ol.sz-list > li {
  counter-increment: sz-item;
}
ol.sz-list > li::marker {
  content: counters(sz-item, ".") ". ";
  color: var(--base04);
  font-size: smaller;
  font-weight: bold;
}
