@use '../../node_modules/@fontsource/source-code-pro/scss/mixins.scss' as Mono;
$fontDir: '../fonts/files';
$weights: 400 700;
$styles: normal italic;

@each $weight in $weights {
  @each $style in $styles {
    @include Mono.fontFace($fontDir: $fontDir, $weight: $weight, $style: $style);
  }
}
