<section id="section-comments">
  <h2>Comments</h2>
  <comments-root
    src="{{ .Site.Params.commentsServer }}/comments/{{ .File.ContentBaseName }}"
  >
    <noscript>JavaScript needed here.</noscript>
  </comments-root>
</section>

<script type="module">
  import "{{ .Site.Params.commentsServer }}/js/comments/root_element.js";
  import BaseElement from "{{ .Site.Params.commentsServer }}/js/simple/base_element.js";
  import md from "/js/md.js";

  const hlStyle = `<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.4.0/build/styles/base16/eighties.min.css" />`;

  class MarkdownElement extends BaseElement {
    render(text) {
      this.innerHTML = md.render(text) + hlStyle;
    }
  }

  customElements.define("md-div", MarkdownElement);
</script>
