<section id="section-comments">
  <h2>Comments</h2>
  <div id="comments-container">
    <noscript>This is where comments would appear if that client-side scripting
      enginge was active.</noscript>
  </div>
</section>

<script src="{{ .Site.Params.commentsServer }}/js/load_comments.js"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.4.0/build/styles/default.min.css">
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.4.0/build/highlight.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.4.0/build/languages/javascript.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/remarkable@2.0.1/dist/remarkable.min.js"></script>
<script src="/js/md.js"></script>

<script type="text/javascript">
  loadComments(
    '#comments-container',
    '{{ .Site.Params.commentsServer }}/comments/{{ .File.ContentBaseName }}',
    (message) => md.render(message)
  );
</script>
