<section id="section-comments">
  <h2>Comments</h2>
  <comments-root
    src="{{ .Site.Params.commentsServer }}/comments/{{ .File.ContentBaseName }}"
  >
    <noscript>JavaScript needed here.</noscript>
  </comments-root>
</section>

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.4.0/build/styles/default.min.css"
/>

<script type="module">
  import RootElement from "{{ .Site.Params.commentsServer }}/js/comments/root_element.js";
  import md from "/js/md.js";
  customElements.define("comments-root", RootElement);
  const commentsRoot = document.querySelector("comments-root");
  commentsRoot.md = md;
</script>
