{{ $baseurl := .Site.BaseURL }}
<main class="s-homepage">

  {{ partial "hero.html" . }}

  <section id="sec:recent-posts">
    <h2 class="headline">Recent Posts</h2>
    {{ $paginator := .Paginate (where .Site.RegularPages "Section" "in" .Site.Params.mainSections) (or .Site.Params.paginate 3) }}
    <div class="s-article-list">
      {{ range $paginator.Pages }}
        {{ partial "article-list-item.html" . }}
      {{ end }}
    </div>
    {{ partial "paginator.html" $paginator }}
  </section>

{{ with .Site.Taxonomies.categories }}

  <section class="sec:categories">
    <h2 class="headline">Categories</h2>

    {{ range $name, $value := . }}
    <h3 class="category">
      <a href="{{ $baseurl }}categories/{{ $name | urlize }}">{{ humanize $name | title }}</a>
      <small>({{ .Count }})</small>
    </h3>
    {{ end }}
  </section>

{{ end }}

{{ with .Site.Taxonomies.tags }}

  <section class="sec:tags">
    <h2 class="headline">Tags</h2>

    {{ range $name, $value := . }}
    <span class="tag">
      <a href="{{ $baseurl }}tags/{{ $name | urlize }}">{{ $name }}</a>
      <small>({{ .Count }})</small>
    </span>
    {{ end }}
  </section>

{{ end }}

</main>
