{{ define "scope-class" }}s-homepage{{ end }}
{{ define "main" }}
  <main>
    {{ partial "hero.html" . }}


    <section id="sec:recent-posts">
      <h2>Recent Posts</h2>
      {{ partial "article-list.html" (.Paginate
        (where .Site.RegularPages "Section" "in" .Site.Params.mainSections)
        (or .Site.Params.paginate 3))
      }}
    </section>

    {{ range $taxonomy, $terms := .Site.Taxonomies }}
      <section id="sec:{{ $taxonomy }}">
        <h2>{{ $taxonomy | title }}</h2>

        <ul class="e-taxonomy-cloud +{{ $taxonomy }}">
          {{ range $term, $_ := $terms }}
            <li data-count="{{ .Count }}" style="--count: {{ .Count }}">
              <a href="/{{ $taxonomy }}/{{ $term | urlize }}">{{ $term }}</a>
            </li>
          {{ end }}
        </ul>
      </section>
    {{ end }}

  </main>
{{ end }}
