{{ define "scope-class" }}s-homepage{{ end }}
{{ define "main" }}
  <main>
    {{ partial "hero.html" . }}


    <section id="sec:recent-posts">
      <h2>Recent Posts</h2>
      {{ partial "article-list.html" (.Paginate
        (where .Site.RegularPages "Section" "in" .Site.Params.mainSections)
        (or .Site.Params.paginate 3))
      }}
    </section>

    {{ with .Site.Taxonomies.categories }}

      <section id="sec:categories">
        <h2>Categories</h2>

        <ul class="taxonomy-cloud categories">
          {{ range $name, $_ := . }}
            <li>
              <a href="/categories/{{ $name | urlize }}"
                >{{ humanize $name | title }}</a
              >
              <small>({{ .Count }})</small>
            </li>
          {{ end }}
        </ul>
      </section>
    {{ end }}

    {{ with .Site.Taxonomies.tags }}

      <section id="sec:tags">
        <h2>Tags</h2>

        <ul class="taxonomy-cloud tags">
          {{ range $name, $_ := . }}
            <li>
              <a href="/tags/{{ $name | urlize }}">{{ $name }}</a>
              <small>({{ .Count }})</small>
            </li>
          {{ end }}
        </ul>
      </section>
    {{ end }}

  </main>
{{ end }}
