.homepage h1.site-title {
  color: var(--color-base05);
  background: url("/img/logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 2.4em;
  line-height: 3em;
  padding: 0;
  text-align: left;
  text-shadow: 0 0 0.1em var(--color-base00);
  white-space: nowrap;
}
