.clr-prism {
  color: var(--color-neutral);

  :nth-child(7n + 1) {
    color: var(--color-base08);
  }
  :nth-child(7n + 2) {
    color: var(--color-base09);
  }
  :nth-child(7n + 3) {
    color: var(--color-base0a);
  }
  :nth-child(7n + 4) {
    color: var(--color-base0b);
  }
  :nth-child(7n + 5) {
    color: var(--color-base0c);
  }
  :nth-child(7n + 6) {
    color: var(--color-base0d);
  }
  :nth-child(7n + 7) {
    color: var(--color-base0e);
  }
}

.clr-prism-2 {
  background-image: linear-gradient(
    to right,
    var(--color-base08) 20%,
    var(--color-base09),
    var(--color-base0a),
    var(--color-base0b),
    var(--color-base0c),
    var(--color-base0d),
    var(--color-base0e) 85%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
