/// Pagination
nav.e-paginator {
  text-align: center;

  a {
    color: var(--color-links-negative);
  }

  .faded {
    color: var(--color-neutral);
  }

  .nav-prev {
    margin-inline: auto 1%;
  }

  .nav-next {
    margin-inline: 1% auto;
  }
}
