@use "../../axioms/tools/mixins/article";

/// Single Post Layout
article.e-single-article {
  .e-meta {
    text-align: end;
  }

  section.body {
    @include article.box;
  }

  /* Article Elements */

  pre {
    overflow-x: scroll;
    border-radius: var(--radius-xs);
    padding: var(--spacing-block);
  }

  code {
    background: var(--color-neutral);
    color: var(--color-body-negative);
  }

  figure,
  div.highlight {
    margin-inline: calc(-1 * var(--container-gutter));
    margin-block-start: var(--spacing-block);
    padding: var(--spacing-block);
    background-color: var(--color-accent);
  }

  figure img {
    inline-size: 100%;
    border-radius: var(--radius-xs);
  }

  figure figcaption h4 {
    text-align: center;
    font-style: italic;
    font-weight: normal;
    color: var(--color-body-negative);
  }

  table {
    inline-size: 100%;
  }

  th,
  td {
    border-block-end: 1px solid var(--color-neutral);
  }

  tr:last-child td {
    border-block-end: 0;
  }
}
