@use "../../axioms/mixins" as *;

/// Single Post Layout
article.e-single-article {
  .meta {
    font-size: 0.9em;
    text-align: right;

    .key {
      color: var(--color-base03);
    }

    .val,
    .val a {
      color: var(--color-base0e);
    }
  }

  section.body {
    @include article-box;
  }

  /* Article Elements */

  pre {
    overflow-x: scroll;
    border-radius: var(--radius-xs);
    padding: var(--spacing-block);
  }

  p code {
    background: var(--color-base03);
    color: var(--color-base07);
  }

  figure,
  div.highlight {
    margin-inline: calc(-1 * var(--container-gutter));
    margin-block-start: var(--spacing-block);
    padding: var(--spacing-block);
    background-color: var(--color-base01);
  }

  figure img {
    inline-size: 100%;
    border-radius: var(--radius-xs);
  }

  figure figcaption h4 {
    text-align: center;
    font-style: italic;
    font-weight: normal;
    color: var(--color-base07);
  }

  table {
    border-collapse: separate;
    border-spacing: 0;
    inline-size: 100%;
  }

  th,
  td {
    border-block-end: 1px solid var(--color-base04);
  }

  tr:last-child td {
    border-block-end: 0;
  }

  th {
    text-align: left;
    font-weight: bold;
    vertical-align: bottom;
  }

  td {
    vertical-align: top;
  }
}
