/// Theme switch
fieldset.e-theme-switch {
  display: block;
  margin-inline: auto 0;
  border: none;
  inline-size: fit-content;
  padding: 0;

  input[type="range"] {
    --thumb-size: var(--stroke-width-8);
    -webkit-appearance: none;
    box-sizing: content-box;
    block-size: var(--thumb-size);
    inline-size: calc(2 * var(--thumb-size));
    padding: var(--stroke-width-1);
    background: var(---clr-bg);
    border: var(--stroke-width-1) solid var(---clr-fg);
    border-radius: var(--radius-full);
    box-shadow: none;

    @mixin range-track {
      inline-size: 100%;
      background: transparent;
      border: none;
      box-shadow: none;
    }

    @mixin range-thumb {
      box-sizing: border-box;
      block-size: var(--thumb-size);
      inline-size: var(--thumb-size);
      border: none;
      border-radius: var(--radius-full);
      cursor: pointer;
      background: var(---clr-fg);
      box-shadow: none;
    }

    &::-moz-range-track {
      @include range-track;
    }

    &::-moz-range-thumb {
      @include range-thumb;
    }

    &::-webkit-slider-runnable-track {
      -webkit-appearance: none;
      @include range-track;
    }    

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      @include range-thumb;
    }  
  }
}
